<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- help : http://logback.qos.ch/manual/appenders.html -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%d{ISO8601} %-5level [%.16thread] %logger{36}.%method: %m%n</pattern>
            <immediateFlush>true</immediateFlush>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="org.hibernate.cache.rediscala" level="DEBUG"/>

    <logger name="org.hibernate.SQL" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="com.zaxxer.hikari.HikariDataSource" level="ERROR"/>

    <root level="INFO">
        <appender-ref ref="console"/>
    </root>
</configuration>